name: Lint Dockerfile

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - coatl

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
